<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desde la base html</title>
</head>
<body>
    <!--documentacion de templates o bloques para la base https://jinja.palletsprojects.com/en/2.10.x/templates/-->
    <header>

<nav>
<a href="">Inicio</a>
<a href="">Segundo</a>
<a href="">Tercero</a>
</nav>  

</header>


<!--para mostrar los mensajes de flash un codigo solo nos importa aqui el get_flashed_messages los dema es codigo para mostrarlo en la vista-->
{%with mensajes=get_flashed_messages()%}
{% if mensajes %}
<ul class=flashes>
{% for m in mensajes %}
<li>{{m}}</li>
{%endfor%}
</ul>
{%endif%}
{%endwith%}
<!--hacemos el html base ya que todos los demas lo van a heredar muy bien papu y añadimos un bloque donde pondremos el contenido que van a usar las demas platillas-->
{%block contenido%}
{%endblock%}    

<footer>
<span>Desarrollador Ricardo Altamirano Sanchez</span>
</footer>
</body>
</html>